USE [master]
GO
/****** Object:  Database [QLDSV]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE DATABASE [QLDSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDSV]
GO
/****** Object:  User [N19DCCN032]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE USER [N19DCCN032] FOR LOGIN [SV] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [gv02]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE USER [gv02] FOR LOGIN [gv2] WITH DEFAULT_SCHEMA=[gv02]
GO
/****** Object:  User [GV01]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE USER [GV01] FOR LOGIN [gv] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SinhVien]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE ROLE [SinhVien]
GO
/****** Object:  DatabaseRole [PhongGiaoVu]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE ROLE [PhongGiaoVu]
GO
/****** Object:  DatabaseRole [GiangVien]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE ROLE [GiangVien]
GO
/****** Object:  DatabaseRole [abcd]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE ROLE [abcd]
GO
ALTER ROLE [SinhVien] ADD MEMBER [N19DCCN032]
GO
ALTER ROLE [db_datareader] ADD MEMBER [N19DCCN032]
GO
ALTER ROLE [abcd] ADD MEMBER [gv02]
GO
ALTER ROLE [db_owner] ADD MEMBER [gv02]
GO
ALTER ROLE [db_datareader] ADD MEMBER [gv02]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [gv02]
GO
ALTER ROLE [db_owner] ADD MEMBER [GV01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SinhVien]
GO
ALTER ROLE [db_owner] ADD MEMBER [PhongGiaoVu]
GO
ALTER ROLE [db_owner] ADD MEMBER [GiangVien]
GO
ALTER ROLE [db_datareader] ADD MEMBER [GiangVien]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [GiangVien]
GO
ALTER ROLE [db_owner] ADD MEMBER [abcd]
GO
ALTER ROLE [db_datareader] ADD MEMBER [abcd]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [abcd]
GO
/****** Object:  Schema [abcd]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE SCHEMA [abcd]
GO
/****** Object:  Schema [gv02]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE SCHEMA [gv02]
GO
/****** Object:  Schema [TK1]    Script Date: 7/1/2022 4:22:11 PM ******/
CREATE SCHEMA [TK1]
GO
/****** Object:  UserDefinedFunction [dbo].[UF_LamTronDiem]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UF_LamTronDiem] ( @diem FLOAT )
RETURNS FLOAT
AS
    BEGIN
        DECLARE @int INT
        SET @int = FLOOR(@diem)
        IF ( @diem - @int < 0.25 )
            SET @diem = @int
        ELSE
            IF ( @diem - @int >= 0.25
                 AND @diem - @int < 0.75
               )
                SET @diem = @int + 0.5
            ELSE
                SET @diem = @int + 1
        RETURN @diem
    END
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MONHOC]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_MONHOC] 
AS
SELECT DISTINCT MAMH
FROM MONHOC
GO
/****** Object:  View [dbo].[V_DSquyen]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DSquyen]
AS
select [name]
from sys.database_principals
where principal_id in (
			select principal_id
			FROM sys.database_principals where type = 'R') and [name] <> 'public' and is_fixed_role=1
GO
/****** Object:  View [dbo].[V_DSROLE]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DSROLE]
as
select [name]
	from sys.database_principals 
	where principal_id in (
			select principal_id
			FROM sys.database_principals where type = 'R') and is_fixed_role= 0 and [name]<>'public'
GO
/****** Object:  View [dbo].[V_ROLE]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_ROLE]
AS
select [name]
from sys.database_principals
where principal_id in (
			select principal_id
			FROM sys.database_principals where type = 'R' and is_fixed_role= 0) and [name] <> 'public'
			and owning_principal_id=1
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[HUYDANGKY] [bit] NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL,
	[PASSWORD] [nvarchar](40) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON]) VALUES (N'GV01      ', N'CNTT      ', N'Phan Thanh', N'Liêm', N'Thạc sĩ', N'', N'Phần mềm')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON]) VALUES (N'GV02      ', N'CNTT      ', N'Lê Thành', N'Trì', N'Thạc sĩ', N'', N'Mạng máy tính')
INSERT [dbo].[GIANGVIEN] ([MAGV], [MAKHOA], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON]) VALUES (N'GV03      ', N'CNTT      ', N'Huỳnh Trung', N'Trụ', N'Thạc sĩ', N'', N'Web, Phần mềm')
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'CNTT      ', N'Công nghệ thông tin')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'VT        ', N'Viễn Thông')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA]) VALUES (N'D15CQCP01 ', N'Công nghệ phần mềm 2015', N'2015-2019', N'CNTT      ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA]) VALUES (N'D15CQIS01 ', N'Hệ thống thông tin 2015', N'2015-2019', N'CNTT      ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC], [MAKHOA]) VALUES (N'D15CQMT01 ', N'Mạng máy tính 2015', N'2015-2019', N'CNTT      ')
GO
SET IDENTITY_INSERT [dbo].[LOPTINCHI] ON 

INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP]) VALUES (1, N'2021-2022', 1, N'CTDL      ', 1, N'GV01      ', N'CNTT      ', 10, 0)
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP]) VALUES (2, N'2021-2022', 1, N'CTDL      ', 2, N'GV01      ', N'CNTT      ', 10, 0)
INSERT [dbo].[LOPTINCHI] ([MALTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [MAKHOA], [SOSVTOITHIEU], [HUYLOP]) VALUES (3, N'2021-2022', 1, N'XLA       ', 1, N'GV05      ', N'VT        ', 10, 0)
SET IDENTITY_INSERT [dbo].[LOPTINCHI] OFF
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH]) VALUES (N'AV        ', N'Anh văn', 45, 0)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH]) VALUES (N'CTDL      ', N'Cấu trúc dữ liệu & Giải thuật', 40, 5)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH]) VALUES (N'HDH       ', N'Hệ điều hành', 45, 0)
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD]) VALUES (N'N15DCCN001', N'Võ Văn', N'Đức', 0, N'Quận 9', CAST(N'1997-02-08' AS Date), N'D15CQCP01 ', 0, N'')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD]) VALUES (N'N15DCCN002', N'Lê Hữu', N'Tài', 0, N'Thủ Đức', CAST(N'1997-03-07' AS Date), N'D15CQCP01 ', 0, N'')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD]) VALUES (N'N15DCCN003', N'Hoàng Thanh', N'Bùi', 0, N'Quận 9', CAST(N'1997-08-07' AS Date), N'D15CQCP01 ', 0, N'')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_DANGKY]    Script Date: 7/1/2022 4:22:11 PM ******/
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_LOPTINCHI]    Script Date: 7/1/2022 4:22:11 PM ******/
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false') FOR [HUYLOP]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false') FOR [PHAI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false') FOR [DANGHIHOC]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT ('') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SOSVTOITHIEU] CHECK  (([SOSVTOITHIEU]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SOSVTOITHIEU]
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPQUYENROLE]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAPQUYENROLE]
	@ROLE VARCHAR(50) , @USER VARCHAR(50)
 AS
	EXEC sp_addrolemember @ROLE ,@USER
GO
/****** Object:  StoredProcedure [dbo].[SP_DoiMK]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DoiMK]
@mk_cu varchar(20),
@mk_moi varchar(20),
@username varchar(20)
as
begin
	exec sp_password @mk_cu, @mk_moi, @username
end

GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinSVTuLogin]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_LayThongTinSVTuLogin]
@TENLOGIN NVARCHAR(100)
AS
DECLARE @UID INT
DECLARE @MANV NVARCHAR(100)
SELECT @UID=uid, @MANV=NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MASV=@MANV, 
       HOTEN = (SELECT HO+' '+TEN FROM dbo.SINHVIEN WHERE MASV=@MANV ), NHOM=NAME
  FROM sys.sysusers
  WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)
GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinTuLogin]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_LayThongTinTuLogin]	
@TENLOGIN NVARCHAR(100)
AS
DECLARE @UID INT
DECLARE @MANV NVARCHAR(100)
SELECT @UID=uid, @MANV=NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MAgV=@MANV, 
       HOTEN = (SELECT HO+' '+TEN FROM dbo.GIANGVIEN WHERE MAGV=@MANV ), NHOM=NAME
  FROM sys.sysusers
  WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)


GO
/****** Object:  StoredProcedure [dbo].[SP_TaoLogin]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_TaoLogin]
@lgname varchar(20),
@pass varchar(20),
@username varchar(20),
@role varchar(20)
as
begin
	declare @RET int 
	exec @RET= sp_addlogin @lgname, @pass, 'QLDSV'
	                   
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1

  EXEC @RET= sp_grantdbaccess @lgname, @username
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @lgname
       RETURN 2
  END
  EXEC sp_addrolemember @role, @username

  IF @ROLE= 'PhongGiaoVu' 
	BEGIN
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
	END
  IF @ROLE= 'Giangvien'
	BEGIN 
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
	END
  IF @ROLE= 'SinhVien'
	BEGIN  
		EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
	END

END

GO
/****** Object:  StoredProcedure [dbo].[SP_TAOROLE]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOROLE]
	@ROLE VARCHAR(50)
 AS
	DECLARE @RET INT
	EXEC @RET= sp_addrole @ROLE
	IF (@RET =1)  -- LOGIN NAME BI TRUNG
		RETURN 1
 RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[SP_XoaUserKhoiRole]    Script Date: 7/1/2022 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_XoaUserKhoiRole]
@username varchar(20),
@role varchar(20)
as
begin
	exec sp_droprolemember @role, @username
end


GO
USE [master]
GO
